<launch>
  <arg name="config" default="/home/lscm/Codes/navigation/robot_config"/>
  <arg name="robot" default="robot_event_cam"/>

  <arg name="multi_robot_name" default=""/>


  <!-- vel_cmd_timout -->
  <!-- <include file="$(find vel_cmd_timeout)/launch/vel_cmd_timeout.launch" >
    <arg name="timeout" value=".6"/>
  </include> -->

  <!-- Drive -->
  <include file="$(find drive)/launch/slam.launch"/>
  <!-- Velodyne lidar -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="device_ip" default="192.168.1.201" />
  </include>
  <!-- velodyne tf -->
  <node pkg="tf" type="static_transform_publisher" name="agv_lidar2velodyne_publisher"
  	args="0 0 0 3.14159265359 0 0  agv_lidar velodyne 10"/>

</launch>
